{% if parameters.target_device is not none -%}
    Continuing playback on {{ parameters.target_device.name }} in {{ parameters.current_room }}.
{% else -%}
    No Spotify device found in {{ parameters.current_room }}.
{%- endif %}
