{% if parameters.playlist_id is not none and parameters.playlist_id - 1 | int < parameters.playlists | length %}
    {% set playlist_name = parameters.playlists[parameters.playlist_id - 1 | int].name %}
    {% if parameters.device_id is not none %}
        Started playing playlist {{ playlist_name }} on device {{ parameters.device_id }}.
    {% else %}
        Started playing playlist {{ playlist_name }} on the main device.
    {% endif %}
{% else %}
    Invalid playlist selection.
{% endif %}
